/*  your css code here. If applicable */
#container{
	margin:20px;
	
}
#container::before,
#container::after {
    content: "Inserted Content";
    color: #f00;
    font-size: 20px;
    position: absolute;
}

#container::before {
    left: 0;
}

#container::after {
    right: 0;
}